button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee';
}
div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
output {
  font-family: 'Bungee';
}
/* label {
  position: absolute;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  color: #999;
  padding: 7px;
  line-height: 17px;
  margin-left: 2px;
} */
textarea {
  z-index: 0;
  padding: 6px;
  margin: auto;
  font: inherit;
  line-height: 17px;
  display: block;
  border: none;
  width: 100%;
  resize: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
}